.total__count {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 20%;
    align-items: center;
    margin-top: 2em;
}

.featured {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding:10px;
}


.count--title {
    font-size: 1.3em;
}

.count {
    font-size: 5em;
}